<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <div class="form">
      <h1 class="h1">Material Design Text Input With No Extra Markup</h1>
      <input class="cpf" placeholder="Username" [textMask]="{mask: mask}" [(ngModel)]="myModel" (ngModelChange)="removeMask(myModel)" type="tel"/>
      <input class="cpf" disable placeholder="Username" (keyup.enter)=" show()" [textMask]="{mask: mask}" [(ngModel)]="myModel" (ngModelChange)="removeMask(myModel)" type="text"/>
      <button (click)="show()">Submit</button>
    </div>
  <div padding>
    <label for="">CPF SEM MASCARA: {{removeMask(myModel)}}</label>
  </div>
</ion-content>
